#about{
    padding: 128px 0;
    background-color: #F4F6FC;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.about_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_left h3{
    width: 327px;
    font-size: 36px;
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--dark-blue);
    line-height: 56px;
}
.about_left .paragraph{
    width: 327px;
    color: var(--dark-blue);
    margin-top: 16px;
}
.about_right h3{
    width: 843px;
    font-size: 32px;
    font-family: var(--poppins);
    color: var(--dark-blue);
    font-weight: 500;
    line-height: 48px;
}
.client_info{
    margin-top: 51px;
    display: flex;
    align-items: center;
    column-gap: 14px;
}
.client_img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}
.client_img img{
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.client_details h4{
    color: var(--dark-blue);
    font-size: 18px;
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
}
.client_details h6{
    color: var(--dark-blue);
    font-size: 12px;
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}